
.navbar{
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar > div{
  display: flex;
  gap: 30px;
  align-items: center;

}

.navbar > div > button{
  height: 37px;
  font-size: 22px;
}

.blue{
  border: 5px solid blue;
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: auto;
 margin-top: 30px;
}



.footer{
bottom: 0;
padding: 30px;
  text-align: center;
  margin-top: 400px;


}

.dark{
  background-color: black;
  color: white;

}

.light{
  background-color: white;
  color: black;
}

.black{
  border: 2px solid white;
}

.yellow{
  border: 5px solid yellow;
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: auto;
 margin-top: 30px;
}