body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #0b1426;
  color: white;
  justify-content: center;
  align-items: center;
}

.text-header-part {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.square {
  min-width: 80px;
  min-height: 80px;
  font-size: 50px;
  text-align: center;
  color: #f309db;
  font-weight: bolder;
  padding: 10px;
}

.border-bottom-right {
  border-right: 10px solid #f309db;
  border-bottom: 10px solid #f309db;
}

.border-bottom {
  border-bottom: 10px solid #f309db;
}

.border-right {
  border-right: 10px solid #f309db;
}

.clear-btn {
  width: max-content;
  margin: 40px auto 10px auto;
  background-color: rgb(82, 159, 20);
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 37px;
  border-radius: 10px;
}
.clear-btn:hover{
  background-color: rgb(86, 148, 36);
  color: rgb(233, 226, 226);
}
.enjoy-the-game{
  font-size: 28px;
  font-weight: 600;
}

.theAllMighty{
  font-size: 27px;
  margin-bottom: 0;
  font-weight: 600;
}